/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'Samsung Sharp Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Samsung Sharp Sans Regular'), url('../fonts/samsungsharpsans.woff') format('woff');
}


@font-face {
  font-family: 'Samsung Sharp Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Samsung Sharp Sans Medium'), url('../fonts/samsungsharpsans-medium.woff') format('woff');
}


@font-face {
  font-family: 'Samsung Sharp Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Samsung Sharp Sans Bold'), url('../fonts/samsungsharpsans-bold.woff') format('woff');
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url('../imgs/bg.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 575.98px) {
  .brand img {
    height: 50px;
    width: auto;
  }
}

.menu {
  list-style: none;
}

.menu li {
  margin: auto 1rem;
}

.menu li:last-of-type {
  margin: auto 0 auto 1rem;
}


.menu li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
  color: #E9DCFF;
}


.hero-section:before {
  content: "";
  position: absolute;
  width: 86px;
  height: 86px;
  left: -20px;
  bottom: 1rem;
  background-image: url('../imgs/coin-left.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1) translate(0, 0);
  animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.hero-section:after {
  content: "";
  position: absolute;
  width: 86px;
  height: 86px;
  right: -20px;
  top: 0;
  background-image: url('../imgs/coin-right.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1) translate(0, 0);
  animation-name: pulse;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}



@keyframes pulse {
  0% {
    transform: scale(1) translate(0, 0);
  }

  50% {
    transform: scale(1.05) translate(2px, 5px);
  }

  100% {
    transform: scale(1) translate(0, 0);
  }
}


.main-title {
  font-family: "Samsung Sharp Sans";
  font-weight: 600;
  /* font-weight: 400;
  color: #C3BEC4; */
  /* background: -webkit-linear-gradient(#BB4EFF, #FE7AB6); */
  background: -webkit-linear-gradient(left, #BB4EFF, #FE7AB6);
  background: -o-linear-gradient(right, #BB4EFF, #FE7AB6);
  background: -moz-linear-gradient(right, #BB4EFF, #FE7AB6);
  background: linear-gradient(to right, #BB4EFF, #FE7AB6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 130%;
}

.main-title span {
  font-weight: 400;
  color: #C3BEC4;
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #C3BEC4;
}

.btn-custom {
  border-radius: 29px;
  font-size: 18px;
  font-weight: 500;
  min-width: 254px;
  transition: all .4s ease;
}

.btn-custom.wp {
  background-color: white;
  color: #000;
  border-color: white;
}

.btn-custom::before {
  content: "";
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-custom.wp::before {
  background-image: url('../imgs/icon-wp.svg');
}

.btn-custom.download {
  background-color: transparent;
  color: white;
  border-color: #FE7AB6;
}

.btn-custom.download::before {
  background-image: url('../imgs/icon-download.svg');
}

.btn-custom:hover {
  background-color: #E3BBFF26;
  color: white;
  border-color: #E3BBFF26;
}


.box {
  opacity: 0;
  transform: scale(1);
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  backdrop-filter: blur(12px);
}

.box:nth-child(1) {
  animation-delay: .2s;
}

.box:nth-child(2) {
  animation-delay: .4s;
}

.box:nth-child(3) {
  animation-delay: .6s;
}

.box:nth-child(4) {
  animation-delay: .8s;
}

.box:nth-child(5) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1.05);
    opacity: .8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.box-inner {
  padding: 20px 16px;
  border-radius: 20px;
  border: 1px solid #FFFFFF33;
  background-color: #E3BBFF26;
  min-height: 195px;
}

.box-inner .description-wrapper {
  min-height: 50px;
}

.box-inner .description-wrapper img {
  margin-right: 8px;
}

.box-inner .description {
  padding-top: 4px;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  color: #E9DCFFDD;
}

.box-inner .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  background: -webkit-linear-gradient(#F4BBFF99, #F4BBFFDD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-height: 60px;
  padding-bottom: 2px;
  /* font is not calibrated in its height and in big sizes becomes out of its container */
}

.box-inner .title.number {
  font-size: 38px;
}

.box-inner .note {
  font-size: 11px;
  font-weight: 300;
  color: #C19DFFB2;
}

.links .unit {
  backdrop-filter: blur(12px);
}

.links .unit a {
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid #FFFFFF33;
  background-color: #FFFFFF40;
  font-size: 13px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: all .4s ease;
}

.links .unit a:hover {
  background-color: #FFFFFF20;
}

.links .unit a::before {
  content: "";
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 12px;
  margin-right: 6px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.links .unit a.github::before {
  background-image: url('../imgs/icon-github.svg');
}

.links .unit a.discord::before {
  background-image: url('../imgs/icon-discord.svg');
}

.links .unit a.reddit::before {
  background-image: url('../imgs/icon-reddit.svg');
}

.links .unit a.mmxplorer::before {
  background-image: url('../imgs/icon-mmxplorer.svg');
}

.links .unit a.explorer::before {
  background-image: url('../imgs/icon-explorer.svg');
}

.links .unit a.documentation::before {
  background-image: url('../imgs/icon-documentation.svg');
  background-size: 80% auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}